.swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  flex: 0 0 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(3); /* 放大按钮 */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  z-index: 10000; /* 提高 z-index */
  font-size: 24px; /* 调整字体大小以增大按钮 */
}

.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}
